<h2>Log In</h2>
<div class="subcontainer">

  <%= form_for :session, html: { url: login_path }, method: :post do |f| %>
    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>
   
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.button "Sign In" %>
    </p>
  <% end %>
</div>