<h2>Add a New Theme</h2>
<div class="subcontainer">
  <%= form_for :item, url: admin_items_path, :html => { :multipart => true } do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
   
    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>
    
    <p>
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </p>
    
    <p>
      <%= f.label :code %><br>
      <%= f.text_field :code %>
    </p>

    <p>
      <%= f.label :image_preview %><br>
      <%= f.text_field :image_preview %>
    </p>

    <p><%= f.file_field :attachment %></p>

    <p>
      <%= f.button :submit, class: "form-button" %>
    </p>
  <% end %>
</div>
